$primary:   #0071e3;
$secondary: #6e6e73;
$success:   #34c759;
$info:      #5ac8fa;
$warning:   #ff9f0a;
$danger:    #ff3b30;
$light:     #f5f5f7;
$dark:      #1d1d1f;

$text-black: #1d1d1f;
$text-white: rgba(255, 255, 255, 0.92);

$rounded-borders: 18px;
