---
---
@import "portfolYOU";

/* Custom overrides */
.project.card {
  height: 100%;
}

.project-img {
  height: 220px;
  object-fit: cover;
}

.project .card-body {
  display: flex;
  flex-direction: column;
}

.project .card-body .card-title {
  line-height: 1.4;
}

.project .card-body .card-text {
  margin-top: auto;
}