<div class="col mt-4 w-100">
  {% if include.title %}
    <h4 class="mb-3">{{ include.title }}</h4>
  {% endif %}
  <div class="timeline-body bg-themed">
    {% assign items = include.source | default: site.data.timeline %}
    {% for item in items %}
      <div class="timeline-item">
        <div class="content">
          <h2 class="timeline-title">{{ item.title }}</h2>
          {% if item.show_date == false %}
          {% elsif item.to and item.to != item.from %}
            <h6 class="timeline-date">{{ item.from }} — {{ item.to }}</h6>
          {% else %}
            <h6 class="timeline-date">{{ item.from }}</h6>
          {% endif %}
          <p class="timeline-desc">{{ item.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
